<footer role="contentinfo" class="main-footer">
	<section>
		<h1>{{tanuki.title}}</h1>
		<p>
			{{{tanuki.description}}}
		<p>
	</section>
	<section class="sub-footer">
		</p>
			By <a href="{{tanuki.author.url}}">{{tanuki.author.name}}</a> <a href="{{tanuki.author.email}}">{{tanuki.author.email}}</a>
		</p>
		<p>
			License <a href="{{tanuki.license.url}}">{{tanuki.license.name}}</a> {{current_year}}
		</p>
	</section>
</footer>