<!DOCTYPE html>
<html lang="{{lang}}">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		{{#metas}}{{#content}}<meta name="{{name}}" content="{{content}}"/>{{/content}}{{/metas}}
		{{#styles}}<link rel="stylesheet" href="{{src}}" media="{{media}}" />{{/styles}}
	</head>
	<body {{#custom_css}}class="{{custom_css}}"{{/custom_css}}>
		<div class="banner">
			{{>layout/header}}
			{{>layout/navigation}}
		</div>
		{{>content}}
		{{>layout/footer}}
		{{#scripts}}<script type="text/javascript" src="{{src}}"></script>{{/scripts}}
	</body>
</html>